<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
</head>
<body>
    <%- body %>

    <%- include('../partials/scripts', { pageScript: pageScript }) %>
</body>
</html>
